* {
    box-sizing: border-box;
}

:root {
    --side-padding: 1em;
    --top-bottom-padding: 1em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.header {
    border: 2px solid red;
    position:sticky;
    top: 0;
    width: 100%;
}

.content {
    border: 2px solid orange;
    width: 100%;
}

.footer {
    border: 2px solid green;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header, .content, .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--top-bottom-padding) var(--side-padding);
}

.outer-el {
    border: 1px solid black;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-section {
    border: 1px solid green;
    margin: 0 auto 0 auto;
    width: 50%;
    padding: var(--top-bottom-padding) var(--side-padding);
    display: flex;
}

.section-title {
    border: 1px solid black;
    padding: 2px 5px;
    position: relative;
    top: -28px;
    background-color: white;
}

.song-section {
    width: 100%;
    border: 2px solid blue;
}

.song-header {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2em;
}

.song-title {
    font-size: 2em;
    font-weight: bold;
}

.song-sub-title {
    font-weight: bold;
}

.song-part {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1em;
}

.song-part-title {
    font-weight: bold;
    text-transform: uppercase;
}

.song-part-content {
    margin-left: 1em;
}